body{
    font-family: 'Poppins', sans-serif;
}
.watch-live{
    text-decoration: none;
    background-image:linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 15px;
    color:white;
    font-weight: 700;
}
header{
    display: flex;
    border: 2px solid black;
    border-radius: 30px;
    background-color: black;
    color: white;
    margin: 40px;
    height: 100%;
    text-align: justify;
    width: 100%;
}
.padding-set{
    padding: 30px;
}
.padding{
    padding-bottom: 20px;
}
.side-nav, 
.image-icon{
    float: left;
    height:500px ;
    margin-top: 10%;
}
aside{
    background-color:white;
    width: 300px;
}
.image-icon{
    width: calc(100% - 300px);
    }
.border{
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color:black;
    height: 250px;
    width: 80%;
    padding: 10px;
}
.textdecoration{
    text-decoration: none;
    color:black;
    font-weight: 900;
}
.nav-padding{
    background-image:linear-gradient(rgb(236, 41, 41),tomato);
    padding: 10px 40px;
    border-radius: 15px;
    margin: 20px;
}
.color-change{
    background-image:linear-gradient(white,wheat);
}
.font-color{
    color: white;
}
.Transfer-page{
    border: 2px solid gray;
    border-radius: 10px;
    width: 310px;
}
.inline{
    display: inline;
}
.transfer{
    border: 2px solid gray;
    border-radius: 5px;
    width: 70px;
    margin-left: 10px;
}
small{
    display: inline;
    padding: 20px;
}
.flex{
    display: flex;
}
.flex div{
    margin: 20px;
}
footer{
    margin-top: 1400px;
    text-align: center;
    color:rgb(238, 232, 232) ;
    text-align: center;
    background-color: rgb(27, 26, 26);
    padding:5% 30%;
}
span{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(231, 223, 223);
    border-bottom: 1px solid rgb(235, 220, 220);
    width: 10000px;
    text-align: center;
    margin-bottom: 50px;
    margin-left: 5%;
}
small{
    display: flex;
    padding: 10px;
    
}